@tailwind base;
@tailwind components;
@tailwind utilities;

.backface-hidden {
  backface-visibility: hidden;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

/* Style for the entire scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Style for the scrollbar track */
::-webkit-scrollbar-track {
  background: #131b2a; /* Background color of the track */
  border-radius: 100px;
}

/* Style for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #facc15; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
  border: 3px solid #131b2a; /* Padding around the thumb */
}

/* Optional: Style the scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #ffd700; /* Hover color for the scrollbar thumb */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #facc15 #131b2a; /* Thumb color and track color */
}
